.about {
    margin: 0px; 
    
}


.about-content {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    background-image: url(../img/about-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.about-1 {
    flex: 1;
    margin: 30px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.70 );
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-2 {
    flex: 1; 
}

.about-2 img {
    height: 500px;
    width: 500px;
    border-radius: 50%;

    box-shadow: 3px 31px 43px 16px rgba(0,0,0,0.89);
    -webkit-box-shadow: 3px 31px 43px 16px rgba(0,0,0,0.89);
    -moz-box-shadow: 3px 31px 43px 16px rgba(0,0,0,0.89);
}

h1 {
    text-align: center;
}

ul li{
    font-size: 20px;
}

.about-2 img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



.line {
    width: 100%;
    height: 1px;
    background-color:yellow;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
